.body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.topbar {
    background-image: url("../images/Decor\ Online\ Store\ Website\ \(11\).png");
    /* Full height */
    height: 75vh;
  
  
    
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.navbar {
    background-color: transparent;
}

.headertext{
    font-size: 48px;
    text-indent:2vw;
    color:white;
    padding: 3%;
    padding-bottom: 0%;
    font-weight: bolder;
}
.subtext {
    font-size: 24px;
    text-indent:2vw;
    color:white;
    padding: 3%;
    padding-bottom: 0%;
    

}

.submit {
    margin-top: 3%;
}


.searchHomePage {
    padding: 3%;
}

.searchResults {
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2%;
}

#map {
    height: 100%;
}

.results {
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.restResults {
    margin: 2%;
    padding: 1%;
    border: 2px outset;
    border-color: lightgray;
}

.lists {
        background-image: url("../images/Decor\ Online\ Store\ Website\ \(11\).png");
        /* Full height */
        height: 75vh;
      
      
        
        /* Center and scale the image nicely */
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.listPageCard{
    margin: 2%;
    padding: 1%;
}