body {


    background-image: url("../images/cherrytomato.jpg");


     /* Full height */
   height: 100vh;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
.navbar{
    margin-bottom: 1%;
}

.topcards{
    margin:2%
}
.homeimage {
    display: inline-block;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.searchRest {
    background-color: #FFDE59;
}

.submit {
    margin-top:3%
}

/*.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin:3%;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}*/

.searchHomePage {
    padding:3%;
}

.searchResults {
   
    padding:2%;

}
#map {
    height: 100%;
  }


.results {
    height:650px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.restResults {
    margin:2%;
    padding:1%;
    border:2px outset;
    border-color:lightgray;

}

.restResultsHeader {
}